* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 1.5px solid #c1c8cc93;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9e9e9;
  color: #242424;
}

ol,
ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: #037196;
}

a:hover {
  color: #025f89;
}

a:active {
  color: #025f89;
}

a:visited {
  color: #c72505;
}

a:visited:hover {
  color: #025f89;
}

.button {
  background-color: #025f89;
  border: 1.5px solid #037196;
  color: #e9e9e9;
  border-radius: 4px;
  padding: 4px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #037196;
  border: 1.5px solid #025f89;
}

.button:active {
  background-color: #037196;
  border: 1.5px solid #025f89;
}

input {
  background: #e2e2e2;
  border: 1.5px solid #2c3e50;
  color: #242424;
  border-radius: 4px;
  padding: 5px 4px;
}

input:hover {
  background-color: #e9e9e9;
}
input:focus {
  background: #e2e2e2;
}

::placeholder {
  color: #242424;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 80px auto 130px;
}

h2 {
  text-transform: uppercase;
  margin: auto;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #e58a958d;
  border-bottom: 1.5px solid #025f89;
  margin-bottom: 20px;
  padding: 10px;
}

.header_logo {
  width: 50%;
  max-width: 450px;
  height: auto;
  margin: auto;
  cursor: pointer;
}
.nav_container {
  display: flex;
  column-gap: 5px;
  margin-top: 15px;
}
.nav_item {
  text-transform: uppercase;
  background-color: #e2e2e2;
  border: 1px solid #242424;
  border-radius: 2px;
  padding: 3px 5px;
  cursor: pointer;
}

.nav_item:hover {
  background-color: #e58a94;
}

footer {
  height: 100px;
}

.popup_container {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 500px;
  z-index: 1999;
  background-color: #e9e9e9;
  border: 1.5px solid #025f89;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 20px;
}

.close_login {
  position: absolute;
  right: 3px;
  top: 5px;
  background-color: transparent;
  color: #242424;
  border: none;
  font-size: 1.1rem;
  padding: 4px 10px;
  cursor: pointer;
}

.close_login:hover {
  background-color: transparent;
  border: none;
  color: #c72505;
}

.main_container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.view_all_btn {
  width: 75%;
  max-width: 650px;
  margin: auto;
  background-color: #e58a94;
  border: 1.5px solid #242424;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
}

.view_all_btn:hover {
  background-color: #e58a958d;
}

.view_all_btn:active {
  background-color: #e58a94;
}

.category_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  justify-content: space-around;
}

.category_btn {
  width: 45%;
  padding: 20px 0;
  border: 1.5px solid #242424;
  border-radius: 3px;
  cursor: pointer;
}

.category_btn:hover {
  background-color: #03719657;
}

.category_btn:active {
  background-color: #037196;
}

.all_products_container {
  display: flex;
  flex-direction: column;
}

.card_container,
.all_cards_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  justify-content: space-around;
  row-gap: 30px;
}

.product_card {
  width: 200px;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid #025e8974;
  border-radius: 3px;
  padding: 10px;
}

.product_name {
  font-weight: 700;
  text-align: center;
}

.product_price {
  font-size: 0.9rem;
}

.white_blue_btn {
  border: 1.5px solid #242424;
  border-radius: 3px;
  cursor: pointer;
  min-width: 20px;
  min-height: 20px;
  margin: 5px;
  margin-bottom: 0;
}

.white_blue_btn:hover {
  background-color: #03719657;
}

.white_blue_btn:active {
  background-color: #037196;
}

.add_to_cart_btn {
  padding: 5px 7px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.card_img {
  width: auto;
  height: 55%;
  opacity: 0.7;
}

.cart_container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}

.cart_card {
  display: flex;
  height: 150px;
  justify-content: space-between;
  column-gap: 40px;
  max-width: 650px;
  border: 1.5px solid #025e8974;
  padding: 10px;
}

.cart_card_img {
  height: 100%;
  width: auto;
}

.cart_text_container {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
}

.cart_product_name {
  font-weight: 700;
}

.place_order_btn {
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  text-transform: uppercase;
}

.empty_cart_header {
  margin: 120px auto;
}

.orders_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 25px;
  align-items: center;
  width: 100%;
}

.order_item {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 75%;
  border: 1.5px solid #025e8974;
  padding: 10px;
}

.order_product_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 10px;
}

.order_product_card {
  display: flex;
  flex-direction: column;
}

.order_product_name {
  font-weight: 700;
  margin-bottom: 5px;
}

.popup_container .white_blue_btn {
  width: fit-content;
  margin: auto;
  padding: 5px 7px;
  text-transform: uppercase;
}

.popup_message {
  margin: 0px auto 15px;
}
